<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magazzino MVC</title>
</head>
<body>
    <h1>Categories</h1>
    <span><a th:href="@{/magazzino}"> <button>Home</button></a></span> &nbsp &nbsp
    <span><a th:href="@{/magazzino/addcategory}"><button>Inserisci una nuova Categoria</button></a></span>
<ul>
    <li th:each="category : ${categories}">
        Nome: <span th:text="${category.name}"></span>,
        Tassa: <span th:text="${category.tax}"></span>%
        <br>
<span><a th:href="@{/magazzino/deletecategory/{id}(id=${category.id})}"><button onclick="return confirm('Sei sicuro/a di volerla eliminare?')">Elimina</button></a></span> &nbsp
<span><a th:href="@{/magazzino/editcategory/{id}(id=${category.id})}"><button onclick="return confirm('Sei sicuro/a di volerla modificare?')">Modifica</button></a></span>
        <br>
        <br>
    </li>
</ul>
</body>
</html>