<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magazzino MVC</title>
</head>
<body>
    <h1>Modifica qui il tuo prodotto</h1>
    <a th:href="@{/magazzino}">
        <button>Home</button>
    </a>
    <br>
    <form th:action="@{/magazzino/editwarehouse}" method="post" th:object="${editWarehouse}">
        <input type="hidden" th:field="${editWarehouse.id}">
        <input type="text" th:field="${editWarehouse.name}" required="required">
        <button type="submit" onclick="return confirm('Sei sicuro/a di volerlo modificare?')">Conferma la Modifica</button>
    </form>
</body>
</html>