<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magazzino MVC</title>
</head>
<body>
    <h1>Modifica qui il tuo prodotto</h1>
    <a th:href="@{/magazzino}">
        <button>Home</button>
    </a>
    <br>
    <form th:action="@{/magazzino/editwarehouse}" method="post" th:object="${editWarehouse}">
        <input type="hidden" th:field="${editWarehouse.id}">
        <p>Prodotto:</p>
        <select th:field="*{product.id}">
        <option th:each="prod : ${products}" th:value="${prod.id}" th:text="${prod.name}" required="required"></option>
        </select> <br>
        <p>Prezzo Base: <input type="text" th:value="${editProduct.basePrice}"th:field="${editProduct.basePrice}" required="required"></p> <br>
        <p>Quantità: <input type="number" th:value="${editProduct.quantity}" th:field="${editProduct.quantity}" required="required"></p> <br>
        <button type="submit" onclick="return confirm('Sei sicuro/a di volerlo modificare?')">Conferma la Modifica</button>
    </form>
</body>
</html>