<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magazzino MVC</title>
</head>
<body>
<h1>Modifica qui la tua Categoria</h1>
    <a th:href="@{/magazzino}"> <button>Home</button>
    </a>
<br>
<br>
<form th:action="@{/magazzino/savecategory}" method="post" th:object="${editCategory}">
    <input type="hidden" th:field="${editCategory.id}">
    <p>Nome:</p>
    <input type="text" th:field="${editCategory.name}" ><br>
    <p>Tassa:</p>
    <input type="text" th:field="${editCategory.tax}"><br>
    <br>
    <button type="submit" onclick="return confirm('Sei sicuro/a di volerla modificare?')">Conferma la Modifica</button>
</form>
</body>
</html>