<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magazzino MVC</title>
</head>
<body>
    <h1 >Benvenuto nel Magazzino MVC</h1>
    <p>Ecco tutte le funzionalità a te accessibili</p>
    <span><a th:href="@{/magazzino/products}"><button>Lista prodotti</button></a> </span> &nbsp &nbsp
    <span><a th:href="@{/magazzino/addproduct}"><button>Inserisci un nuovo prodotto</button></a></span> &nbsp &nbsp
    <span><a th:href="@{/magazzino/categories}"><button>Categorie</button></a></span> &nbsp &nbsp
    <span><a th:href="@{/magazzino/addcategory}"><button>Inserisci una nuova categoria</button></a></span>
</body>
</html>