<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magazzino MVC</title>
</head>
<body>
<h1 >Benvenuto nel Magazzino MVC</h1>
    <p>Ecco tutte le funzionalità a te accessibili</p>
        &nbsp &nbsp &nbsp &nbsp &nbsp
    <span><a th:href="@{/magazzino/products}"><button>Lista Prodotti</button></a> </span>
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    <span><a th:href="@{/magazzino/categories}"><button>Lista Categorie</button></a></span>
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    <span><a th:href="@{/magazzino/subcategories}"><button>Lista Subcategorie</button></a></span>
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    <span><a th:href="@{/magazzino/warehouse/0}"><button>Lista Magazzino</button></a></span>
    <br>
    <br>
    <span><a th:href="@{/magazzino/addproduct}"><button>Inserisci un nuovo Prodotto</button></a></span> &nbsp &nbsp
    <span><a th:href="@{/magazzino/addcategory}"><button>Inserisci una nuova Categoria</button></a></span> &nbsp &nbsp
    <span><a th:href="@{/magazzino/addsubcategory}"><button>Inserisci una nuova Sottocategoria</button></a></span>
</body>
</html>