<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Magazzino MVC</title>
</head>
<body>
    <h1>Inserisci qui la nuova Categoria</h1>
    <a th:href="@{/magazzino}"> <button>Home</button>
    </a>
    <form th:action="@{/magazzino/newcategory}" method="post" th:object="${newCategory}">
    <h4>Nome: <input type="text" th:field="${newCategory.name}" required="required"> </h4>
    <p>Tassa: <input type="number" th:field="${newCategory.tax}" required="required"> </p>
    <button type="submit" onclick="return confirm('Sei sicuro/a di volerla aggiungere?')">Aggiungi Categoria</button>
    </form>
</body>
</html>