<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magazzino MVC</title>
</head>
<body>
    <h1>Inserisci il nuovo prodotto</h1>
    <a th:href="@{/magazzino}"> <button>Home</button>
    </a>
    <form th:action="@{/magazzino/newproduct}" method="post" th:object="${newProduct}">
        <p>Nome: <input type="text" th:field="${newProduct.name}" required="required"></p> Sottocategoria:
        <select th:field="*{subcategory.id}">
        <option th:each="subcate : ${subcategories}" th:value="${subcate.id}" th:text="${subcate.name}" required="required"></option>
        </select> <br>
        <p>Piccola Descrizione:</p>
        <input th:field="${newProduct.shortDescription}" th:value="${newProduct.shortDescription}" required="required"> <br>
        <p>Prezzo Base: <input type="text" th:field="${newProduct.basePrice}" required="required"></p>
        <p>Quantità: <input type="number" th:field="${newProduct.quantity}" required="required"></p>
        <br>
        <button type="submit">Aggiungi Prodotto</button>
    </form>
</body>
</html>