<html>
<head>
    <title>Magazzino MVC</title>
</head>

<body>
<h1>Lista Prodotti</h1>
    <span><a th:href="@{/magazzino}"> <button>Home</button></a></span> &nbsp &nbsp
    <span><a th:href="@{/magazzino/addproduct}"><button>Inserisci un nuovo Prodotto</button></a></span>
<ul>
    <li th:each="product : ${products}">Nome Prodotto:
        <span th:text="${product.name}"></span>, Nome sottocategoria:
        <span th:text="${product.subcategory.name}"></span>, Descrizione sottocategoria:
        <span th:text="${product.subcategory.description}"></span>, Nome categoria:
        <span th:text="${product.subcategory.category.name}"></span>, Tassa categoria:
        <span th:text="${product.subcategory.category.tax}"></span>,<br> Prezzo :
        <span th:text="${product.basePrice}"></span>, Descrizione:
        <span th:text="${product.shortDescription}"></span>, Quantità:
        <span th:text="${product.quantity}"></span>, Magazzino di appartenenza:
        <span th:text="${product.warehouse.name}"></span>
        <br>
<span><a th:href="@{/magazzino/deleteproduct/{id}(id=${product.id})}"><button onclick="return confirm('Sei sicuro/a di volerlo eliminare?')">Elimina</button></a></span> &nbsp
<span><a th:href="@{/magazzino/editproduct/{id}(id=${product.id})}"><button onclick="return confirm('Sei sicuro/a di volerlo modificare?')">Modifica</button></a></span>
        <br>
    </li>
</ul>
</body>
</html>