<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magazzino MVC</title>
</head>
<body>
    <h1>Dettaglio Prodotto</h1>
    <h3>Nome: <h3 th:text="${product.name}"></h3></h3>
    <p>ID: <span th:text="${product.id}"></span></p>
    <h2>Category</h2>
    <p>Id Categoria: <span th:text="${product.category.id}"></span></p>
    <p>Nome Categoria: <span th:text="${product.category.name}"></span></p>
    <p>Tassa Categoria: <span th:text="${product.category.tax}"></span></p>
    <br>
    <p>Prezzo: <span th:text="${product.basePrice}"€></span></p>
    <p>Quantity: <span th:text="${product.quantity}"></span></p>
</body>
</html>