<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magazzino MVC</title>
</head>
<body>
    <h1>Subcategories</h1>
    <a th:href="@{/magazzino}">
        <button>Home</button>
    </a>
<ul>
    <li th:each="subcategory : ${subcategories}">
        <p>Id: <span th:text="${subcategory.id}"></span></p>
        <p>Nome: <span th:text="${subcategory.name}"></span> </p>
        <p>Descrizione: <span th:text="${subcategory.description}"></span></p>
        <p>Categoria </p>
        <p>Nome categoria: <span th:text="${subcategory.category.name}"></span></p>
        <p>Tassa categoria: <span th:text="${subcategory.category.tax}"></span></p>
        <br>
        <a th:href="@{/magazzino/deletesubcategory/{id}(id=${subcategory.id})}">
            <button onclick="return confirm('Sei sicuro/a di volerla eliminare?')">Elimina</button>
        </a>
        <a th:href="@{/magazzino/editsubcategory/{id}(id=${subcategory.id})}">
            <button onclick="return confirm('Sei sicuro/a di volerla modificare?')">Modifica</button>
        </a>
    </li>
</ul>
</body>
</html>