<form #f='ngForm' (ngSubmit)= "onSubmit(f)">
  Nome          <input type="text" name="nome" [(ngModel)]="editPersone.nome">
  Cognome:               <input type="taxt" name="cognome" [(ngModel)]="editPersone.cognome">
  Data di nascita:        <input type="date" name="dataDiNascita" [(ngModel)]="editPersone.dataDiNascita">
  Codice fiscale:        <input type="text" name="codiceFiscale" [(ngModel)]="editPersone.codiceFiscale">
  Password:               <input type="password" name="password" [(ngModel)]="editPersone.password">
  Foto:                   <input type="file" name="foto" [(ngModel)]="editPersone.foto">
  E-mail:                  <input type="email" name="email" [(ngModel)]="editPersone.email">
  Categoria protetta:      <input type="text" name="categoriaprotetta" [(ngModel)]="editPersone.categoriaProtetta">
  <!-- Residenza:               <input type="text" name="residenza" [(ngModel)]="editPersone.residenza">
  Domicilio:                 <input type="text" name="domicilio" [(ngModel)]="editPersone.domicilio"> -->
</form>

